body{
    background: rgb(214, 178, 178);
    font-family: 'Dongle', sans-serif;
}

.header_div{
    background-color: rgb(214, 178, 178);
    color: rgb(153, 78, 78);
}

.header_div p{
    font-family: 'Luxurious Roman', cursive;
    color: rgb(167, 138, 138);
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Luxurious Roman', cursive;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
    letter-spacing: 2px;
}

.copy_right_footer h5{
    position: fixed;
    color: rgb(167, 138, 138);
    bottom: 0;
    font: size 200px;;
    background-color: rgb(167, 138, 138);
    line-height: 3;
    text-align: center;
    text-shadow: 8px 8px 8px rgb(151,149,149);
}